<!DOCTYPE html>
<html>
<head>
	{% load static %}

<title>Bootstrap Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>	
</head>

<style type="text/css">
	.box{
		background-image: url('/static/imgs/compare_2.png');
		width: 400px;
		height: 400px;
		background-color: #ffffff;
		box-shadow: 0 15px 25px rgba(0,0,0,.5);
		background-size: 400px;
		background-repeat: no-repeat;
		background-position: 50% 80%;
		padding: 2px;
	}

</style>
<body>

{% include "layouts/header.html" %}
<center>
	
<form action="/compare/" method="POST">
{% csrf_token %}
<div class="row" style="margin-top: 4%;">
<div class="col-md-5">
	<div class="box">
		<h3>Enter 1st keyword</h3>
		<hr style="background-color: black;">
		<label>Enter a keyword: </label> <br>
		<input type="text" name="keyword1">
	</div>
</div>

<div class="col-md-2">
	<input type="submit" class="btn btn-success" style="margin-top: 50%">
</div>

<div class="col-md-5">
	<div class="box">
		<h3>Enter 2nd keyword</h3>
		<hr style="background-color: black;">
		<label>Enter a keyword: </label> <br>
		<input type="text" name="keyword2">
	</div>
</div>


</div>

</form>
</center>

</body>
</html>