<!DOCTYPE html>
<html>
<head>
	<title></title>

  <style type="text/css">
    .footer-bottom {
      margin-top: 10%;
      background-color: black;
      color: white;
    }

    .social {
      font-size: 150%;
      width: 10%;
      text-align: center;
      text-decoration: none;
      color: white;
    }

    .social:hover {
        opacity: 0.7;
    }
  </style>


</head>
<body>
<div class="row footer-bottom">
  <div class="col-md-6">
    
  <p class="text-center text-md-left" style="text-align: left;">© 2019 Copyright:  <a href="www.github.com/annu1245"><strong>Pantomat</strong></a>
  </p>
  </div>
  <div class="col-md-6">
    <a href="#" class="social fa fa-facebook pull-right"></a>
    <a href="#" class="social fa fa-twitter pull-right"></a>
    <a href="#" class="social fa fa-google pull-right"></a>
    <a href="#" class="social fa fa-linkedin pull-right"></a>
    <a href="#" class="social fa fa-youtube pull-right"></a>
    <a href="#" class="social fa fa-instagram pull-right"></a>
  </div>
</div>
</div>

</body>
</html>